@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --rubber-black: #0a0a0a;
  --rubber-carbon: #171717;
  --rubber-graphite: #262626;
  --accent-orange: #f97316;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
    contain-intrinsic-size: 1px 1000px;
  }
}
